@import "tailwindcss";
@layer components {
  .hover-react {
    @apply transition-colors transition-transform duration-300 ease-out inline-block
           hover:!text-white hover:scale-110
           active:!text-white active:scale-110
           group-hover:!text-white group-hover:scale-110
           group-active:!text-white group-active:scale-110;
  }
}
